@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto:400,700');


body {
	background-color: lightgreen;
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 60px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

li {
	background-color: white;
	padding: 30px;
	font-size: 30px;
	width: 15%;
	text-align: center;
	flex-direction: column;
	justify-content: center;

}

li:hover {
	opacity: 0.5;
}

img {
	width: 200px;
	display:block;
}
a {
	text-decoration: none;
}

#firstlist {
	/*background-color: lime;*/
}

.fish{
	color: orange;
	text-decoration: underline
	/*padding: 30px;
	margin-top: 40px;*/
}

.mammals {
	color: red;
	font-weight: bold;
	/*padding-left: 30px
	padding-right: 30px;*/
}

.birds {
	color: blue;
	font-style: italic;
	/*margin-top: 30px
	padding-bottom: 40px;*/
}